<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="layui-row layui-col-space10" style="height: 300px;background-color: #2d3e50">
        <br><br>
        <div class="layui-col-md1" ></div>
        <div class="layui-col-md3" >
            <h2 style="color: white;">联 系 我 们</h2><br>
            <h3 style="color: white;"><i class="layui-icon layui-icon-location"></i>&nbsp;位置：湖南株洲</h3><br>
            <h3 style="color: white;"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;电话：15115380532</h3><br>
            <h3 style="color: white;"><i class="layui-icon layui-icon-login-wechat"></i>&nbsp;微信号：15115380532</h3><br>
            <h3 style="color: white;"><i class="layui-icon layui-icon-email"></i>&nbsp;邮箱：hhefox@foxmail.com</h3>
        </div>
        <div class="layui-col-md4">
            <h2 style="color: white;">获 取 咨 询</h2><br>
            <img src="/images/hheweixin.png" alt="微信二维码" height="200px" width="200px">
        </div>
        <div class="layui-col-md3">
            <h2 style="color: white;">系 统 导 航</h2><br>

        </div>
        <div class="layui-col-md1"></div>
    </div>
</div>
</html>

