<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="layui-row" style="height: 300px;background-color: #2d3e50">
        <br><br>
        <div class="layui-col-md-offset2" style="margin-top: 20px;">
            <h2 style="color: white;">联系我们</h2>
            <h3 style="color: white;">位置</h3>
            <h3 style="color: white;">电话</h3>
            <h3 style="color: white;">微信号</h3>
            <h3 style="color: white;">邮箱</h3>
        </div>
    </div>
</div>
</html>

