<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--导航栏-->
<div th:fragment="nav_top">
    <ul class="layui-nav layui-bg-cyan">
        <li class="layui-nav-item layui-this">
            <a href="/pages/index">网站首页</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="/pages/search">分类查询</a>
        </li>
        <li class="layui-nav-item">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"><label th:text="${User.userName}"></label></a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>
<div class="layui-carousel" id="lunbo">
    <div carousel-item>
        <div><img alt="轮播图片" src="/images/first.jpg" class="lunboPic"></div>
        <div><img alt="轮播图片" src="/images/第二张轮播图.jpg" class="lunboPic"></div>
        <div><img alt="轮播图片" src="/images/白云四桶.jpg" class="lunboPic"></div>
    </div>
</div>
</html>