<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhe.graduate.mapper.ArticleNewsMapper">
  <resultMap id="BaseResultMap" type="com.hhe.graduate.bean.ArticleNews">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="news_id" jdbcType="VARCHAR" property="newsId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="time_time" jdbcType="VARCHAR" property="timeTime" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="from_from" jdbcType="VARCHAR" property="fromFrom" />
    <result column="news_url" jdbcType="VARCHAR" property="newsUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, news_id, title, time_time, author, from_from, news_url
  </sql>
  <sql id="Blob_Column_List">
    description, content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hhe.graduate.bean.ArticleNewsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hhe.graduate.bean.ArticleNewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hhe.graduate.bean.ArticleNewsExample">
    delete from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article_news (news_id, title, time_time, 
      author, from_from, news_url, 
      description, content)
    values (#{newsId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{timeTime,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{fromFrom,jdbcType=VARCHAR}, #{newsUrl,jdbcType=VARCHAR}, 
      #{description,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        news_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="timeTime != null">
        time_time,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="fromFrom != null">
        from_from,
      </if>
      <if test="newsUrl != null">
        news_url,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="timeTime != null">
        #{timeTime,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="fromFrom != null">
        #{fromFrom,jdbcType=VARCHAR},
      </if>
      <if test="newsUrl != null">
        #{newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hhe.graduate.bean.ArticleNewsExample" resultType="java.lang.Long">
    select count(*) from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update article_news
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.newsId != null">
        news_id = #{record.newsId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.timeTime != null">
        time_time = #{record.timeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.fromFrom != null">
        from_from = #{record.fromFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.newsUrl != null">
        news_url = #{record.newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update article_news
    set id = #{record.id,jdbcType=INTEGER},
      news_id = #{record.newsId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      time_time = #{record.timeTime,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      from_from = #{record.fromFrom,jdbcType=VARCHAR},
      news_url = #{record.newsUrl,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update article_news
    set id = #{record.id,jdbcType=INTEGER},
      news_id = #{record.newsId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      time_time = #{record.timeTime,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      from_from = #{record.fromFrom,jdbcType=VARCHAR},
      news_url = #{record.newsUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    update article_news
    <set>
      <if test="newsId != null">
        news_id = #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="timeTime != null">
        time_time = #{timeTime,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="fromFrom != null">
        from_from = #{fromFrom,jdbcType=VARCHAR},
      </if>
      <if test="newsUrl != null">
        news_url = #{newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    update article_news
    set news_id = #{newsId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      time_time = #{timeTime,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      from_from = #{fromFrom,jdbcType=VARCHAR},
      news_url = #{newsUrl,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhe.graduate.bean.ArticleNews">
    update article_news
    set news_id = #{newsId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      time_time = #{timeTime,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      from_from = #{fromFrom,jdbcType=VARCHAR},
      news_url = #{newsUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.hhe.graduate.bean.ArticleNews">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="news_id" jdbcType="VARCHAR" property="newsId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="time_time" jdbcType="VARCHAR" property="timeTime" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="from_from" jdbcType="VARCHAR" property="fromFrom" />
    <result column="news_url" jdbcType="VARCHAR" property="newsUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, news_id, title, time_time, author, from_from, news_url
  </sql>
  <sql id="Blob_Column_List">
    description, content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hhe.graduate.bean.ArticleNewsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hhe.graduate.bean.ArticleNewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hhe.graduate.bean.ArticleNewsExample">
    delete from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article_news (news_id, title, time_time, 
      author, from_from, news_url, 
      description, content)
    values (#{newsId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{timeTime,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{fromFrom,jdbcType=VARCHAR}, #{newsUrl,jdbcType=VARCHAR}, 
      #{description,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        news_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="timeTime != null">
        time_time,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="fromFrom != null">
        from_from,
      </if>
      <if test="newsUrl != null">
        news_url,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="timeTime != null">
        #{timeTime,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="fromFrom != null">
        #{fromFrom,jdbcType=VARCHAR},
      </if>
      <if test="newsUrl != null">
        #{newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hhe.graduate.bean.ArticleNewsExample" resultType="java.lang.Long">
    select count(*) from article_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update article_news
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.newsId != null">
        news_id = #{record.newsId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.timeTime != null">
        time_time = #{record.timeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.fromFrom != null">
        from_from = #{record.fromFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.newsUrl != null">
        news_url = #{record.newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update article_news
    set id = #{record.id,jdbcType=INTEGER},
      news_id = #{record.newsId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      time_time = #{record.timeTime,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      from_from = #{record.fromFrom,jdbcType=VARCHAR},
      news_url = #{record.newsUrl,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update article_news
    set id = #{record.id,jdbcType=INTEGER},
      news_id = #{record.newsId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      time_time = #{record.timeTime,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      from_from = #{record.fromFrom,jdbcType=VARCHAR},
      news_url = #{record.newsUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    update article_news
    <set>
      <if test="newsId != null">
        news_id = #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="timeTime != null">
        time_time = #{timeTime,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="fromFrom != null">
        from_from = #{fromFrom,jdbcType=VARCHAR},
      </if>
      <if test="newsUrl != null">
        news_url = #{newsUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hhe.graduate.bean.ArticleNewsWithBLOBs">
    update article_news
    set news_id = #{newsId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      time_time = #{timeTime,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      from_from = #{fromFrom,jdbcType=VARCHAR},
      news_url = #{newsUrl,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhe.graduate.bean.ArticleNews">
    update article_news
    set news_id = #{newsId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      time_time = #{timeTime,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      from_from = #{fromFrom,jdbcType=VARCHAR},
      news_url = #{newsUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>