<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>网站首页</title>
</head>
<body>
<div th:replace="common/header :: jsAndCss(~{::script})">
    <!--将需要额外添加的js文件写入到div之中即可，并且上方花括号中需要写入 script-->
    <script type="text/javascript"   th:src="@{/js/index.js}"></script>
</div>
<!--引入页面导航栏模块-->
<div th:include="common/navbar :: nav_top"></div>
<!--页面主体开始-->
<!--图片轮播框-->
<div class="layui-carousel" id="lunbo">
    <div carousel-item>
        <div><img alt="轮播图片" src="/images/first.jpg" class="lunboPic"></div>
        <div><img alt="轮播图片" src="/images/第二张轮播图.jpg" class="lunboPic"></div>
        <div><img alt="轮播图片" src="/images/白云四桶.jpg" class="lunboPic"></div>
    </div>
</div>
<div class="layui-row" style="margin-top: 90px;">
    <div class="layui-row" style="text-align: center"><h1 class="layui-anim layui-anim-scaleSpring">垃 / 圾 / 简 / 介</h1></div>
    <div class="layui-row" style="text-align: center;margin-top: 10px;"><h3>Refuse Introduction</h3></div>
</div>

<div class="layui-container" style="margin-top: 20px;max-height: 372px;">
    <div class="layui-row">
        <div class="layui-col-md5" >
            <h2>垃圾分类简介</h2><br><br>
            <span style="font-size: large">
                &nbsp;&nbsp;&nbsp;&nbsp;垃圾分类（英文名为Garbage classification），一般是指按一定规定或标准将垃圾分类储存、分类投放和分类搬运，从而转变成公共资源的一系列活动的总称。分类的目的是提高垃圾的资源价值和经济价值，力争物尽其用。 [1]
            垃圾在分类储存阶段属于公众的私有品，垃圾经公众分类投放后成为公众所在小区或社区的区域性准公共资源，垃圾分类搬运到垃圾集中点或转运站后成为没有排除性的公共资源。从国内外各城市对生活垃圾分类的方法来看，大致都是根据垃圾的成分、产生量，结合本地垃圾的资源利用和处理方式来进行分类的。
            进行垃圾分类收集可以减少垃圾处理量和处理设备，降低处理成本，减少土地资源的消耗，具有社会、经济、生态等几方面的效益。<br>
            2019年6月25日，生活垃圾分类制度将入法。<br>
            2019年9月，大连在每个垃圾分类投放点设督导员。<br>
            2019年12月6日，入选“2019年中国媒体十大流行语”。
            </span>
        </div>
        <div class="layui-col-md5 layui-col-md-offset2">
            <img alt="这里是一张图片" src="/images/树新风.png">
        </div>
    </div>
</div>
<div class="layui-row" style="margin-top: 90px;">
    <div class="layui-row" style="text-align: center"><h1 class="layui-anim layui-anim-scaleSpring">垃 / 圾 / 分 / 类</h1></div>
    <div class="layui-row" style="text-align: center;margin-top: 10px;"><h3>Refuse Classification</h3></div>
</div>
<div class="layui-container" style="margin-top: 20px;max-height: 372px;">
    <div class="layui-row">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title layui-col-md4 layui-col-md-offset4">
                <li class="layui-this">可回收物</li>
                <li>有害垃圾</li>
                <li>厨余垃圾</li>
                <li>其他垃圾</li>
            </ul>
            <br><br><br><br><br>
            <div class="layui-col-row layui-col-space10 layui-tab-content">
                <!--可回收垃圾类-->
                <div class="layui-tab-item layui-show">
                    <div class="layui-col-md3" style="background-color: #f6f6f6">
                        <img src="/images/玻璃瓶.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>玻璃类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;干净的玻璃瓶,白炽灯泡,其他玻璃...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6">
                        <img src="/images/塑料瓶.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>塑料类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;塑料桶,塑料水杯水瓶,梳子,其他塑料类...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6">
                        <img src="/images/金属.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>金属类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;易拉罐,废电线,回形针,其他金属类...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6">
                        <img src="/images/废纸.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>废纸类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;报纸,书本,广告纸,纸盒,包装纸,其他...</span>
                    </div>
                </div>
                <!--有害垃圾类-->
                <div class="layui-tab-item layui-show">
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/电池.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>电池类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;充电电池,镉镍电池,铅酸电池,蓄电池...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/灯管.png" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>含汞类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;荧光灯,废节能灯,废水银温度计,其他...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/药品.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>废药类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;过期药物,药物胶囊,药片,药品内包装...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/油漆.png" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>油漆类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;废农药,废油漆,废颜料,杀虫剂等...</span>
                    </div>
                </div>
                <!--厨余垃圾类-->
                <div class="layui-tab-item">
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/电池.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>电池类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;充电电池,镉镍电池,铅酸电池,蓄电池...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/灯管.png" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>含汞类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;荧光灯,废节能灯,废水银温度计,其他...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/药品.jpg" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>废药类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;过期药物,药物胶囊,药片,药品内包装...</span>
                    </div>
                    <div class="layui-col-md3" style="background-color: #f6f6f6;">
                        <img src="/images/油漆.png" height="276.36px" width="276.36px">
                        <br><br>
                        <h3 style="text-align: center"><a>油漆类</a></h3>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;废农药,废油漆,废颜料,杀虫剂等...</span>
                    </div>
                </div>
                <div class="layui-tab-item">4</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>