<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>分类查询</title>
</head>
<body>
<div th:replace="common/header :: jsAndCss(~{::script})">
    <!--将需要额外添加的js文件写入到div之中即可，并且上方花括号中需要写入 script-->
    <script type="text/javascript"   th:src="@{/js/index.js}"></script>
</div>
<!--引入页面导航栏模块-->
<div th:include="common/navbar :: nav_top"></div>
<!--页面主体开始-->
<!--图片轮播框-->
<div class="layui-carousel" id="lunbo">
    <div carousel-item>
        <div><img alt="轮播图片" src="/images/first.jpg" class="lunboPic"></div>
        <div><img alt="轮播图片" src="/images/第二张轮播图.jpg" class="lunboPic"></div>
        <div><img alt="轮播图片" src="/images/白云四桶.jpg" class="lunboPic"></div>
    </div>
</div>
</body>
</html>